[init]
	defaultBranch = main

[alias]
#    fh = log --graph --date=format:'%Y-%m-%d %H:%M:%S' --all --format=\"%Cred%H %Cgreen%ad %Cred%aE %Cblue%f\" --
    fh = log --graph --date=format:'%Y-%m-%d %H:%M:%S' --all --format='%Cred%H %Cgreen%ad %Cred%aE %Cblue%B' --

	lg = log --date=format:'%Y-%m-%d %H:%M:%S' --format=\"%Cred%H %Cgreen%ad %Cred%aE %Cblue%f\" --all --graph --decorate
	ll = log --date=format:'%Y-%m-%d %H:%M:%S' --format=\"%Cred%H %Cgreen%ad %Cred%aE %Cblue%f\"
	lf = diff-tree --no-commit-id --name-only -r

[log]
	date = format:%Y-%m-%d %H:%M:%S

[push]
	autoSetupRemote = true

[gitflow "branch"]
	master = main
	develop = develop

[gitflow "prefix"]
	feature = feature/
	bugfix = bugfix/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = 

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
    line-numbers = true

[diff]
    tool = bcompare

[difftool "bcompare"]
    cmd = bcompare "$LOCAL" "$REMOTE"
    prompt = false
    trustExitCode = true
    conflictstyle = zdiff3

[merge]
    tool = bcompare

[mergetool "bcompare"]
    cmd = bcompare "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
    prompt = false
    trustExitCode = true
    keepBackup = false

[core]
	safecrlf = false
	autocrlf = input
    pager = delta

[include]
    path = ~/.gitproxy

# defaults
[include]
    path = ~/.config/git/.gitconfig-o2

# exceptions
[includeIf "gitdir:~/d-blocks/"]
    path = ~/.config/git/.gitconfig-dblocks

[includeIf "gitdir:~/dotfiles/"]
    path = ~/.config/git/.gitconfig-personal

[includeIf "gitdir:~/git/"]
    path = ~/.config/git/.gitconfig-personal

[includeIf "gitdir:~/logseq/"]
    path = ~/.config/git/.gitconfig-personal


